body{

   background-color: #6666CC;
}




h1{
    font-family: verdana;
    text-align: center;
    background-color:#996600;
    border: 2px solid black;
	width: 500px;
	height: 60px;
	
}
h2 {
    font-family: verdana;
	color: #000000;
	background:#996600;
	border: 2px solid black;
	width: 250px;
}
input {
    font-family: verdana;
    color: #000000;
    background-color:#996600;
}
